deno.d.ts
dist
node_tests/*
!node_tests/node_tests.ts
!node_tests/tsconfig.json
!node_tests/package.json
!node_tests/README.md
!node_tests/fixtures
ts_serialize_coverage
ts_serialize_coverage.lcov
.DS_Store