deno.d.ts
dist/*
examples/node/*
!examples/node/node_tests.ts
!examples/node/tsconfig.json
!examples/node/package.json
!examples/node/README.md
ts_serialize_coverage
ts_serialize_coverage.lcov
.DS_Store