name: ci
on: [pull_request, push]

jobs:
  test:
    name: ts serialize tests
    runs-on: ubuntu-latest
    steps:
      - name: clone repository
        uses: actions/checkout@v2
      - name: run tests
        run: |
          curl -L https://deno.land/x/install/install.sh | sh -s "v1.0.5"
          export PATH="$HOME/.deno/bin:$PATH"
          deno fmt --check
          deno test -c tsconfig.json
