# Copyright 2018-2021 Gamebridge.ai authors. All rights reserved. MIT license.

name: release

on:
  push:
    tags: ["v*.*.*"]

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        deno: ["v1.x"]
        os: [macOS-latest, windows-latest, ubuntu-latest]

    steps:
      - name: Setup repo
        uses: actions/checkout@v2

      - name: Setup Deno
        uses: denolib/setup-deno@v2
        with:
          deno-version: ${{ matrix.deno }}

      - name: Deno lint
        run: deno lint

      - name: Deno format check
        run: deno fmt --check
        if: matrix.os != 'windows-latest'

      - name: Cache dependencies
        run: deno cache test_deps.ts

      - name: Run deno tests
        run: deno test --doc

      - name: Deno test markdown code blocks
        run: deno run --allow-read --allow-write --allow-run .github/test_markdown.ts
        if: matrix.os == 'ubuntu-latest'

  build:
    name: Release
    runs-on: ubuntu-latest
    needs: test

    strategy:
      matrix:
        deno: ["v1.x"]

    steps:
      - name: Get github tag
        id: get_github_tag
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}

      - name: Setup repo
        uses: actions/checkout@v2

      - name: Setup deno
        uses: denolib/setup-deno@v2
        with:
          deno-version: ${{ matrix.deno }}

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/

      - name: Build and test NPM module
        run: deno run --allow-env --allow-read --allow-write --allow-run=npm .github/workflows/scripts/build_npm.ts -v ${{ steps.get_github_tag.outputs.VERSION }}
        if: matrix.os != 'windows-latest'

      - name: Build and test NPM module (windows)
        run: deno run --allow-env --allow-read --allow-write --allow-run=cmd .github/workflows/scripts/build_npm.ts -v ${{ steps.get_github_tag.outputs.VERSION }}
        if: matrix.os == 'windows-latest'

      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

      - name: Deploy to NPM
        run: |
          cd dist
          npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
