# Copyright 2018-2020 Gamebridge.ai authors. All rights reserved. MIT license.

name: release
on:
  push:
    tags:
      - "v*"

jobs:
  test:
    name: ts serialize tests
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v2
      - name: Run tests
        run: |
          curl -L https://deno.land/x/install/install.sh | sh -s "v1.6.0"
          export PATH="$HOME/.deno/bin:$PATH"
          deno fmt --check
          deno test
  build:
    name: Release
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Get github tag
        id: get_github_tag
        run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup-node
        uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/
      - name: Build
        run: .github/workflows/scripts/build.sh ${{ steps.get_github_tag.outputs.VERSION }}
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
      - name: Deploy
        run: |
          cd dist
          npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}