# Copyright 2018-2021 Gamebridge.ai authors. All rights reserved. MIT license.

# This workflow will install Deno and run tests across stable and nightly builds on Windows, Ubuntu and macOS.
# For more information see: https://github.com/denolib/setup-deno

name: tests

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        deno: ["v1.x"]
        os: [macOS-latest, windows-latest, ubuntu-latest]

    steps:
      - name: Setup repo
        uses: actions/checkout@v2

      - name: Setup Deno
        uses: denolib/setup-deno@v2
        with:
          deno-version: ${{ matrix.deno }}
      
      - name: Deno Format Check
        run: deno fmt --check
        if: matrix.os != 'windows-latest'

      - name: Cache Dependencies
        run: deno cache test_deps.ts

      - name: Run Deno Tests with coverage
        run: deno test --coverage=coverage --unstable

      - name: Examine test coverage
        run: deno coverage --unstable coverage

      - name: lcov test coverage
        run: deno coverage --unstable coverage --lcov > coverage.lcov
        if: matrix.os == 'ubuntu-latest'

      - name: Report code coverage
        uses: zgosalvez/github-actions-report-lcov@v1
        with:
          coverage-files: coverage/*.json
          minimum-coverage: 100
          artifact-name: code-coverage-report
          github-token: ${{ secrets.GITHUB_TOKEN }}
        if: matrix.os == 'ubuntu-latest'

      - name: Run package.json Generation Tests
        run: .github/workflows/scripts/npm_release_files/create_npm_package_file_test.sh